<h1>Academia</h1>
<div>
	<form>
		<div>
			<input type="text" placeholder="Data Abertura / Nascimento" ng-model="academia.dataAberturaNascimento"></br>
			<input type="text" placeholder="CEP" ng-model="academia.cep"></br>
			<input type="text" placeholder="CPF / CNPJ" ng-model="academia.cpfCnpj"></br>
			<input type="text" placeholder="Razao Social / Nome Empresario" ng-model="academia.razaoSocialNomeEmpresario"></br>
			<input type="text" placeholder="Nome Fantasia / Nome Empresarial" ng-model="academia.nomeFantasiaEmpresarial"></br>
			<input type="text" placeholder="Rua" ng-model="academia.logradouro"></br>
			<input type="text" placeholder="Numero" ng-model="academia.numero"></br>
			<input type="text" placeholder="Bairro" ng-model="academia.bairro"></br>
			<input type="text" placeholder="Complemento" ng-model="academia.complemento"></br>
			<input type="text" placeholder="Cidade" ng-model="academia.cidade"></br>
			<input type="text" placeholder="Estado" ng-model="academia.estado"></br>
			<input type="text" placeholder="E-mail" ng-model="academia.email"></br>
			<input type="text" placeholder="Telefone" ng-model="academia.telefone"></br>
			<input type="text" placeholder="Login" ng-model="academia.login"></br>
			<input type="password" placeholder="Senha" ng-model="academia.senha"></br>
		</div>
		
		<div>
			<button ng-click="cadastrarAcademia(academia)">Cadastrar</button>
		</div>
	</form>
</div>
		