<h1>Aluno</h1>
<div>
	<form>
		<div>
			<input type="text" placeholder="Nome" ng-model="aluno.nome"></br>
			<input type="text" placeholder="CPF" ng-model="aluno.cpfCnpj"></br>
			<input type="text" placeholder="Data de Nascimento" ng-model="aluno.dataAberturaNascimento"></br>
			<input type="text" placeholder="CEP" ng-model="aluno.cep"></br>
			<input type="text" placeholder="Rua" ng-model="aluno.logradouro"></br>
			<input type="text" placeholder="Bairro" ng-model="aluno.bairro"></br>
			<input type="text" placeholder="Numero" ng-model="aluno.numero"></br>
			<input type="text" placeholder="Complemento" ng-model="aluno.complemento"></br>
			<input type="text" placeholder="Cidade" ng-model="aluno.cidade"></br>
			<input type="text" placeholder="Estado" ng-model="aluno.estado"></br>
			<input type="text" placeholder="E-mail" ng-model="aluno.email"></br>
			<input type="text" placeholder="Telefone" ng-model="aluno.telefone"></br>
		</div>
		
		<div>
			<button ng-click="cadastrarAluno(aluno)">Cadastrar Aluno</button>
			</br>
		</div>
		<h4>Alunos</h4>
		<div ng-repeat="aluno in alunos">
			Nome: {{aluno.nome}}
			E-mail: {{aluno.email}}
			Telefone: {{aluno.telefone}}
			<button ng-click="editarAluno(aluno)">Editar</button>
			<button ng-click="removerAluno(aluno)">Remover</button>
			<a href="/aluno-treino" ng-click="verTreinoAluno(aluno)">Ver treinos</a>
		</div>
	</form>
</div>