<div class="container">
	<h1>Ficha de treinamento - {{$root.aluno.nome}}</h1>
	<hr />
  	<div class="table-responsive">
		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th>Segunda</th>
					<th>Terça</th>
					<th>Quarta</th>
					<th>Quinta</th>
					<th>Sexta</th>
					<th>Sabado</th>
					<th>Domingo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul>
							<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Segunda');">
								{{treino.treino.nome}}
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'terça');">
							{{treino.treino.nome}}
						</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'quarta');">
							{{treino.treino.nome}}
						</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'quinta');">
							{{treino.treino.nome}}
						</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'sexta');">
							{{treino.treino.nome}}
						</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Sábado');">
							{{treino.treino.nome}}
						</li>
						</ul>
					</td>
					<td>
						<ul>
							<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'domingo');">
							{{treino.treino.nome}}
						</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<button type="button" class="btn btn-default" ng-click="voltar()">
  		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
  	</button>
	<button type="button" class="btn btn-primary" ng-click="definirAjustar()">
		<span class="glyphicon glyphicon-edit"></span> Definir/Ajustar
	</button>
 </div>