<div class="container">
	<h1 ng-if="!$root.somenteLeitura">Cadastro Treino</h1>
	<h1 ng-if="$root.somenteLeitura">Treino</h1>
	<hr />
	<form name="formCadastrarTreino">
		<div class="form-group">
			<div class="row">
				<div class="col-md-8">
					<label>Nome</label>
					<input type="text" name="nome" required class="form-control" placeholder="Nome" ng-model="treino.nome" maxlength="80" ng-readonly="$root.somenteLeitura">
				</div>
				<div class="col-md-4">	
	    			<label>Tipo</label>
	    			<select class="form-control" name="tipo" required ng-model="treino.tipo" ng-disabled="$root.somenteLeitura">
	    				<option selected disabled value="">Selecione um grupo</option>
	      				<option ng-repeat="tipo in tipos" value="{{tipo}}">{{tipo}}</option>
	    			</select>
	    		</div>
	    	</div>
  		</div>
  	</form>
  	<form name="formCadastrarAtividade">
  		<label ng-if="!$root.somenteLeitura">Adicionar Exercício</label>
  		<label ng-if="$root.somenteLeitura">Exercícios</label>
  		<div class="panel panel-default">
  			<div class="panel-body">
		  		<div class="form-group" ng-if="!$root.somenteLeitura">
		  			<div class="row">
			  			<div class="col-md-7">
			  				<label>Exercício</label>
			  				<select class="form-control" name="exercicio" required ng-model="atividade.exercicio"
			  						ng-options="exercicio.nome for exercicio in exercicios track by exercicio.id">
			  					<option selected disabled value="">Selecione um exercício</option>
			  				</select>
			  			</div>
			  			<div class="col-md-2">
			  				<label>Séries</label>
			  				<input type="number" name="serie" required mask="9?9" class="form-control" placeholder="Series" ng-model="atividade.serie">
			  			</div>
			  			<div class="col-md-3">
			  				<label>Repetições</label>
			  				<div class="input-group">
				  				<input type="number" name="repeticao" required mask="9?9" class="form-control" placeholder="Repeticoes" ng-model="atividade.repeticao">
				  				<span class="input-group-btn">
				  					<button type="button" class="btn btn-success" ng-click="adicionarAtividade(atividade)" ng-disabled="formCadastrarAtividade.$invalid">
				  						<span class="glyphicon glyphicon-plus"></span>
				  					</button>
				  				</span>
				  			</div>
			  			</div>
			  		</div>
		  		</div>
  		
		  		<div class="table-responsive">
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Exercícios</th>
								<th>Séries</th>
								<th>Repetições</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="atividade in atividades track by $index">
								<td class="col-md-3">
									<button type="button" class="btn btn-warning btn-xs" ng-click="editarAtividade(atividade, $index)" ng-disabled="$root.somenteLeitura">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" class="btn btn-danger btn-xs" ng-click="removerAtividade($index)" ng-disabled="$root.somenteLeitura">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
									<button type="button" class="btn btn-primary btn-xs" ng-click="detalhesExercicio(atividade.exercicio)">
										<span class="glyphicon glyphicon-eye-open"></span>
									</button>
								</td>
								<td class="col-md-3">{{atividade.exercicio.nome}}</td>
								<td class="col-md-3">{{atividade.serie}}</td>
								<td class="col-md-3">{{atividade.repeticao}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4">Exercícios Adicionados: {{atividades.length}}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
	  	</div>
  		
  		<div class="form-group">
  			<button type="button" class="btn btn-default" ng-click="voltar()" ng-if="$root.somenteLeitura">
  				<span class="glyphicon glyphicon-chevron-left"></span> Voltar
  			</button>
  			<button type="button" class="btn btn-success" ng-click="salvarTreino(treino)" ng-if="!$root.somenteLeitura" ng-disabled="formCadastrarTreino.$invalid">
  				<span class="glyphicon glyphicon-plus"></span> Salvar
  			</button>
  			<button type="button" class="btn btn-danger" ng-click="limparTreino()" ng-if="!$root.somenteLeitura">
  				<span class="glyphicon glyphicon-remove"></span> Cancelar
  			</button>
  		</div>
  		
	</form>
</div>