<h1>Exercicio</h1>
<div>
	<form>
		<div>
			<input type="text" placeholder="Nome" ng-model="exercicio.nome">
		</div>
		<div>
			<textarea row="4" cols="50" placeholder="Descricao" ng-model="exercicio.descricao"></textarea>
		</div>
		<div>
			<select ng-model="exercicio.grupamento">
				<option disabled selected value="">Escolha um grupo</option>
				<option ng-repeat="grupo in grupamentos" value="{{grupo}}">{{grupo}}</option>
			</select>
		</div>
		<div>
			<button ng-click="salvarExercicio(exercicio)">Salvar</button>
		</div>
	</form>
	
	<div ng-repeat="exercicio in exercicios">
		{{exercicio.id}}, {{exercicio.nome}}, {{exercicio.descricao}}, {{exercicio.grupamento}}
		<button ng-click="editarExercicio(exercicio)">Editar</button>
		<button ng-click="removerExercicio(exercicio)">Excluir</button>
	</div>
	
</div>