<div class="container">
	<div class="row">
		<form>
			<div class="form-group">
				<div class="col-xs-4 col-md-4">
					<input type="text" class="form-control" ng-model="filtroAluno" placeholder="Buscar">
				</div>
				<div class="col-md-8" align="right">
					<button type="button" class="btn btn-primary" ng-click="cadastrarAluno()">
						<span class="glyphicon glyphicon-plus"></span> Cadastrar Aluno
					</button>
				</div>
			</div>
		</form>
	</div>
	<hr />
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="(index, aluno) in alunos | filter:filtroAluno">
				<tr>
					<td class="col-md-2">
						<button type="button" class="btn btn-warning btn-xs" ng-click="editarAluno(aluno)">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="removerAluno(aluno)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
					<td class="col-md-3 min-caracter">{{aluno.nome | cut:true:25}}</td>
					<td class="col-md-2">{{aluno.telefone}}</td>
					<td class="col-md-3 min-caracter">{{aluno.email | cut:true:15}}</td>
					<td class="col-md-2" align="right">
						<button type="button" class="btn btn-primary btn-xs" ng-click="verTreinoAluno(index, aluno)">
							<span class="glyphicon glyphicon-eye-open"></span> Treinos
						</button>
					</td>
				</tr>
				
				<tr ng-show="verCalendarioTreino(index)">
					<td colspan="5">
						<table class="table table-hover table-bordered table-condensed">
							<thead>
								<th>Segunda</th>
								<th>Terça</th>
								<th>Quarta</th>
								<th>Quinta</th>
								<th>Sexta</th>
								<th>Sabado</th>
								<th>Domingo</th>
							</thead>
							<tbody>
								<td>
									<ul>
										<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Segunda');">
											{{treino.treino.nome | cut:true:15}}
										</li>
									</ul>
								</td>
								<td>
									<ul>
										<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Terça');">
											{{treino.treino.nome | cut:true:15}}
										</li>
									</ul>
								</td><td>
									<ul>
										<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Quarta');">
											{{treino.treino.nome | cut:true:15}}
										</li>
									</ul>
								</td><td>
									<ul>
										<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Quinta');">
											{{treino.treino.nome | cut:true:15}}
										</li>
									</ul>
								</td><td>
									<ul>
										<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Sexta');">
											{{treino.treino.nome | cut:true:15}}
										</li>
									</ul>
								</td><td>
									<ul>
										<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Sábado');">
											{{treino.treino.nome | cut:true:15}}
										</li>
									</ul>
								</td><td>
									<ul>
										<li ng-repeat="treino in treinosAluno" ng-show="treinosDia(treino, 'Domingo');">
											{{treino.treino.nome | cut:true:15}}
										</li>
									</ul>
								</td>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="7">
										<button type="button" class="btn btn-primary btn-xs" ng-click="definirAjustar()">
											<span class="glyphicon glyphicon-edit"></span> Definir/Ajustar
										</button>
									</td>
								</tr>
							</tfoot>
						</table>
					</td>
				</tr>
				
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">Alunos Cadatrados: {{alunos.length}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>