<form>
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Confirmar Exclusão</h4>
	</div>
	<div class="modal-body">
		<h6>Deseja realmente efetuar a exclusão?</h6>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" ng-click="cancel()">Nao</button>
		<button type="button" class="btn btn-primary" ng-click="ok()">Sim</button>
	</div>
</form>