<!DOCTYPE html>
<html ng-app="app">
	<head>
		<base href="/"/>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SigTreino</title>
		<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
		<link href="./css/style.css" rel="stylesheet"></link>
		<link href="./css/angular-toast.css" rel="stylesheet"></link>
	</head>
	<body ng-controller="indexController">
	
		<div>
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" ng-click="menuRedux = !menuRedux" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">SigTreino</a>
					</div>
					
					<div class="collapse navbar-collapse" uib-collapse="menuRedux">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown" uib-dropdown>
								<a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true"
								aria-expanded="false" ng-show="$root.isLogin">Meus Dados <span class="caret"></span></a>
								<ul class="dropdown-menu" uib-dropdown-menu>
									<li><a href="#">Perfil</a></li>
									<li><a href="#">Configurações</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Gerenciamento</a></li>
								</ul>
							</li>
							<li><a ng-show="!$root.isLogin" href="/academia">Cadastre-se</a></li>
							<li><a ng-show="!$root.isLogin" href="/login" >Conectar</a></li>
							<li><a ng-show="$root.isLogin" href="" ng-click="logoff()" >Sair</a></li>

						</ul>
					</div>
				</div>
			</nav>
			<div class="container" ng-show="$root.isLogin">
				<ul class="nav nav-pills nav-justified">
					<li role="presentation">
						<a href="/exercicios">Exercicios</a>
					</li>
					<li role="presentation">
						<a href="/treinos">Treinos</a>
					</li>
					<li role="presentation">
						<a href="/alunos">Alunos</a>
					</li>
				</ul>
				<hr />
			</div>
		</div>
		
		<div ng-view=""></div>
		
		<script type="text/javascript" src="webjars/angularjs/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="webjars/angularjs/1.5.8/angular-route.min.js"></script>
		<script type="text/javascript" src="webjars/angularjs/1.5.8/angular-animate.min.js"></script>
		<script type="text/javascript" src="webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="webjars/angular-mask/3.0.16/dist/ngMask.min.js"></script>

		<script src="./js/app.js"></script>
		
		<script src="./js/controllers/exercicio-controller.js"></script>
		<script src="./js/controllers/treino-controller.js"></script>
		<script src="./js/controllers/aluno-controller.js"></script>
		<script src="./js/controllers/index-controller.js"></script>
		<script src="./js/controllers/aluno-treino-controller.js"></script>
		<script src="./js/controllers/academia-controller.js"></script>
		<script src="./js/controllers/login-controller.js"></script>
		
		<script src="./js/interceptor/token-interceptor.js"></script>
		<script src="./js/value/config-value.js"></script>
		<script src="./js/filter/filter.js"></script>
		
		<script src="./js/others/angular-toast.js"></script>
		
		<script src="./js/service/modal-service.js"></script>
		
	</body>
</html>